<section class="page-about_part1">
  <div class="image-mov_section">
    <div class="image-mov1"
      style="background:url(../img/img_test_first1/Dark_time.png)no-repeat;background-size:350px,150px;background-position:center"></div>
    <div class="image-mov2"
      style="background:url(../img/img_test_first1/Dark_time.png)no-repeat;background-size:350px,300px"></div>
    <div class="text-Movie">
      <p class="image-mov_title title"></p>
      <div class="image-mov_butData">
        <div class="image-mov_but_items">
          <button class="image-mov_but star">
            <svg class="image-mov_but icon-star">
              <use href="../img/icons/sprite.svg#star">
                <use>
            </svg>
          </button>
        </div>
        <p class="data-down"></p>
      </div>
      <div class="movie-descr_section">
        <div class="movie-descr_section in-hidden">
          <table>
            <tr class="green-line">
              <td>
                <p class="table-quest">Country</p>
              </td>
              <td>
                <p class="table-answ" data-field="country"></p>
              </td>
            </tr>
            <tr class="white-line">
              <td>
                <p class="table-quest" data-field="tagline-idb">Tagline</p>
              </td>
              <td>
                <p class="table-answ" data-field="tagline"></p>
              </td>
            </tr>
            <tr class="green-line">
              <td>
                <p class="table-quest" data-field="director-created_by">Director</p>
              </td>
              <td>
                <p class="table-answ" data-field="director"></p>
              </td>
            </tr>
            <tr class="white-line">
              <td>
                <p class="table-quest" data-field="screenplay-status">Scenario</p>
              </td>
              <td>
                <p class="table-answ" data-field="scenario"></p>
              </td>
            </tr>
            <tr class="green-line">
              <td>
                <p class="table-quest">Genre</p>
              </td>
              <td>
                <p class="table-answ" data-field="genre"></p>
              </td>
            </tr>
            <tr class="white-line">
              <td>
                <p class="table-quest" data-field="timeline-episodes">Timeline</p>
              </td>
              <td>
                <p class="table-answ" data-field="time"></p>
              </td>
            </tr>
          </table>
        </div>
        <h2 class="movie-descr_title">About</h2>
        <p class="movie-descr">
        </p>
      </div>
    </div>
  </div>
</section>
