<span class="spacer"></span>
<span class="spacer"></span>
<footer class="footer">
  <div class="footer_div">
    <div class="social_network">
      <a
        href="https://facebook.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="social_network_link"
      >
        <svg class="footer_svg">
          <use
            class="footer_svg_icon"
            href="../img/footer-icons.svg#facebook"
          ></use></svg
      ></a>
      <a
        href="https://youtube.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="social_network_link"
      >
        <svg class="footer_svg">
          <use
            class="footer_svg_icon"
            href="../img/footer-icons.svg#youtube"
          ></use></svg
      ></a>
      <a
        href="https://google.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="social_network_link"
      >
        <svg class="footer_svg">
          <use
            class="footer_svg_icon"
            href="../img/footer-icons.svg#google-plus"
          ></use></svg
      ></a>
      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="social_network_link"
      >
        <svg class="footer_svg">
          <use
            class="footer_svg_icon"
            href="../img/footer-icons.svg#instagram"
          ></use></svg
      ></a>
    </div>
    <div class="footer_nav">
      <a href="http://localhost:8080" class="footer_nav_links">Main</a>
      <p class="footer_nav_links trigger_popup_fricc1">Contact</p>
      <div class="hover_bkgr_fricc1">
          <span class="helper"></span>
          <div>
              <div class="popupCloseButton">X</div>
              <p>Sorry, contacting us is currently under development.<img src="https://media.giphy.com/media/1XgIXQEzBu6ZWappVu/giphy.gif" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></img></p>
          </div>
      </div>
      <p class="footer_nav_links trigger_popup_fricc">Copyright</p>
      <div class="hover_bkgr_fricc">
        <span class="helper"></span>
        <div>
          <div class="popupCloseButton">X</div>
          <p class="trademark">All files and information contained on this Website are copyright to OOORV, and may not be duplicated, copied, modified or adapted, in any way without our written permission. Our Website may contain our service marks or trademarks as well as those of our affiliates or other companies, in the form of words, graphics, and logos. Your use of our Website with its Services does not constitute any right or license for you to use our service marks or trademarks, without the prior written permission of OOORV Our Content, as found within our Website and Services, is protected under Ukrainian and foreign copyrights. The copying, redistribution, use or publication by you of any such Content, is strictly prohibited. Your use of our Website and Services does not grant you any ownership rights to our Content.

              <p class="copyright"> Copyright© OOORV  [Oleg, Oleksey, Olga, Roman, Viktoria]. 2019 All Rights Reserved. <p class="M_design">www.mooogle.com</p></p>
              </p>
        </div>
      </div>
    </div>
  </div>
</footer>
