<header class="header">
  <nav class="nav-header">
  <div id="sidebar" class="sidebar">
      <button class="toggle-btn menu-btn-header"><svg class="menu-svg">
            <use href="../img/header-svg.svg#icon-menu"></use>
          </svg></button>
      <ul id="menu-list" class="menu-list">

        <li class="menu-items-click menu-items-click--film">
          <svg class="movie-svg">
            <use href="../img/header-svg.svg#icon-video"></use>
          </svg>Movies</li>
        <li class="menu-items-click menu-items-click--tv">
          <svg class="movie-svg">
            <use href="../img/header-svg.svg#icon-video"></use>
          </svg>TV Shows</li>
        <li class="menu-items-click menu-items-click--favorite">
            <svg class="movie-svg">
                <use href="../img/header-svg.svg#icon-star"></use>
              </svg>Favorite</li>
      </ul>
      </div>

      <a class="logotype" href="http://localhost:8080/">
    <img class="logo-img" src="../img/logo.png" alt="mooogle">
      <p class="logo-title">Mooogle</p></a>

  <button class="search-engine" id="search_engine_btn"><svg class="search-svg">
      <use href="../img/header-svg.svg#icon-search"></use>
    </svg>
    <form class="search_btn-form" action ="#" method="get">
      <input class="search-btn-input" type = "text" name = "a" id="id_input" value = "Search">
    </form>
  </button>
  </nav>
    <div class="header__menu-big">
      <a href="/" class="header__menu-links header-items-click--film ">Movies</a>
      <a href="/" class="header__menu-links header-items-click--tv ">TV Shows</a>
      <a href="/" class="header__menu-links header-items-click--favorite">Favorite</a>
    </div>
    <div class="header__sort-movies">
      <!-- <div class="sort-movies">Category</div> -->
      <div class="sort-movies-nav">
        <button id="btn_sort_by_name" class="sort-movies-btn">by name
            <svg class="sort-btn-svg">
                <use href="../img/sorting-svg.svg#icon-sort"></use>
             </svg>
        </button>
        <button id="btn_sort_by_date" class="sort-movies-btn">by date
            <svg class="sort-btn-svg">
                <use href="../img/sorting-svg.svg#icon-sort"></use>
             </svg>
        </button>
     </div>
    </header>
