.footer_div{
  display: flex;
  background-color: #77c1bb;
  background-size: cover;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-width: 100%;
}

.footer_svg{
  display: block;
  width: 12px;
  height: 12px;
}
.social_network_link{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 20px;
  width: 20px;
  height: 20px;
}
.social_network_link:not(:last-child){
  margin-right: 10px;
}
.social_network_link:hover{
fill: #fff;
transition: .4s ease-in-out;
border: 1px solid #fff;
  border-radius: 20px;
}
.social_network{
  display: flex;
  flex-flow: row;
  align-items: center;
}
.footer_nav{
  display: block;
  padding: 2px 0;
}
.footer_nav_links{
  color: #000;
}
.footer_nav_links:not(:last-child){
  padding-right: 15px;
}
.footer_nav_links:hover{
color: #fff;
transition: .4s ease-in-out;
}


//////////////////////////////
/* Popup box BEGIN */
.hover_bkgr_fricc, .hover_bkgr_fricc1{
  background:rgba(0,0,0,.5);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  left: 0;
  width:100%;
  z-index:10000;
}

.hover_bkgr_fricc .helper, .hover_bkgr_fricc1 .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;

}
.hover_bkgr_fricc > div, .hover_bkgr_fricc1 > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}

.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: rgba(204, 204, 204, 0.678);
}
.trigger_popup_fricc, .trigger_popup_fricc1 {
  cursor: pointer;
  display: inline-block;
}

.trademark{
  padding: 30px 0;
  font-family: Roboto, sans-serif;
  text-align: center;
}
.copyright{
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
}
.M_design{
  color: #77c1bb;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  &:hover{
    color: #4f8b86;
  }
}

/* Popup box BEGIN */
